In [32]:
import sqlite3
from sqlite3 import Error
import pandas as pd

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print('Connection to SQLite DB successful')
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [9]:
conn = create_connection('project_db.db')

Connection to SQLite DB successful

In [15]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print('Query executed successfully')
    except Error as e:
        print(f"The error '{e}' occurred")

In [17]:

create_table = '''
CREATE TABLE IF NOT EXISTS project_table (
    latitude FLOAT,
    longitude FLOAT,
    free_bikes INTEGER,
    empty_slots INTEGER,
    avg_distance FLOAT,
    total_bikes INTEGER
);
'''

In [19]:
execute_query(conn, create_table)

Query executed successfully

In [28]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [55]:
f = pd.read_csv('csvFinal.csv')
for x in range(0,len(f.index)):
    row = f.iloc[x]
    query = '''
    INSERT INTO 
        project_table(latitude,longitude,free_bikes,empty_slots,avg_distance,total_bikes)
    VALUES
        ({},{},{},{},{},{})
    '''.format(str(row.latitude),str(row.longitude),str(row.free_bikes),str(row.empty_slots),str(row.avg_distance),str(row.total_bikes))
    execute_query(conn,query)

Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully
Query executed successfully

In [61]:
execute_read_query(conn, 'SELECT latitude,longitude FROM project_table')

[(24.451202, 54.33451),
 (24.456953, 54.6157541),
 (24.465954, 54.5983051),
 (24.486103, 54.350087),
 (24.452079, 54.604651),
 (24.465793, 54.60961),
 (24.46568, 54.328189),
 (24.465272, 54.328835),
 (24.4301018, 54.6222247),
 (24.471234, 54.323041),
 (24.496565, 54.408766),
 (24.495664, 54.358364),
 (24.4736005, 54.3411577),
 (24.485254, 54.608061),
 (24.493276, 54.408307),
 (24.456118, 54.318692),
 (24.496235, 54.373636),
 (24.5195, 54.367972),
 (24.49209, 54.366101),
 (24.450142, 54.6052761),
 (24.498709, 54.368072),
 (24.507333, 54.3763),
 (24.48809, 54.356111)]

In [47]:
for row in f:
    print(row)

Unnamed: 0
latitude
longitude
free_bikes
empty_slots
avg_distance
total_bikes